<div class="dropdown notification-dropdown">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button" aria-haspopup="true" aria-expanded="true">
    <% if current_user.notifications.where(read: false).count > 0 %>
      <n class="count"><%= current_user.notifications.where(read: false).count %></n>
      <i class="glyphicon glyphicon-fire red" id="fire"></i>
    <% else %>
      <i class="glyphicon glyphicon-fire" id="fire"></i>
    <% end %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <div class="header-custom">
      <li class="dropdown-header text-center"> <p class='header-notif'>Notifications</p> | <p class="read-all text-center"><%= link_to 'Read All', read_all_path %></p> </li>
    </div>
    <%= render current_user.notifications.order('created_at DESC').first(15) %>
    <li class="divider" role="separator"></li>
    <li class="text-center">
      <%= link_to 'View all', notifications_path %>
    </li>
  </ul>
</div>
