.posts-wrapper.row
  .post
    .post-head
      .name
        =@post.user.user_name
    .image.center-block
      =image_tag @post.image.url(:medium)
    %p.caption
      =@post.caption
    .text-center
      -if @post.user.id == current_user.id
        =link_to 'Edit Post', edit_post_path(@post)
        .br
        =link_to 'Back', posts_path
      -else
        =link_to 'Back', posts_path
